@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

:root {
  --btn-next: #444;
  --light-blue: #84c2ff;
  --orange: #ffd084;
  --dark-orange: #ff9284;
  --main-bg: #fafafa;
  --secondary-bg: #eee;
  --label: #616161;
  font-family: Roboto, 'sans-serif';
}

[data-theme='dark'] {
  --btn-next: #000;
  --light-blue: #444;
  --orange: #000;
  --dark-orange: #444;
  --main-bg: #616161;
  --secondary-bg: #aaa;
  --label: #fff;
}

*,
:before,
:after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.App {
  background-color: var(--secondary-bg);
}

.heading {
  margin-bottom: 40px;
  text-decoration: underline;
  color: var(--label);
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  max-width: 600px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0px 15px;
  background-color: var(--main-bg);

  &__btn {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
}

.form {
  width: 100%;
  max-width: 400px;

  &__label {
    color: var(--label);
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    padding-top: 10px;
  }

  &__input-wrapper {
    position: relative;
    margin-bottom: 140px;
  }

  &__input {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid var(--btn-prev);
    border-radius: 3px;
  }

  &__error {
    position: absolute;
    top: 80px;
    font-size: 11px;
    left: 5px;
    color: var(--dark-orange);
  }
}

.btn {
  border: none;
  width: 160px;
  height: 38px;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  border-radius: 6px;

  &__next {
    background-color: var(--light-blue);
  }
  &__prev {
    background-color: var(--dark-orange);
  }

  &__next:hover,
  &__prev:hover {
    filter: brightness(125%);
    cursor: pointer;
  }
}

.legend {
  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  &__indicator {
    border-radius: 50%;
    border: 1px solid var(--light-blue);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 300;
    background-color: var(--light-blue);
    color: #fff;

    &.active {
      background-color: var(--orange);
    }
  }
}

.cookie-data {
  margin: 0 auto;
  border-radius: 5px;
  border: 1px dashed var(--label);
  padding: 20px;
  margin-top: 40px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
}

// utils

.thankYouPage,
.spinner {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  color: var(--label);
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  .loader {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #00d1ff;
    background: -moz-linear-gradient(
      left,
      #00d1ff 10%,
      rgba(0, 209, 255, 0) 42%
    );
    background: -webkit-linear-gradient(
      left,
      #00d1ff 10%,
      rgba(0, 209, 255, 0) 42%
    );
    background: -o-linear-gradient(left, #00d1ff 10%, rgba(0, 209, 255, 0) 42%);
    background: -ms-linear-gradient(
      left,
      #00d1ff 10%,
      rgba(0, 209, 255, 0) 42%
    );
    background: linear-gradient(
      to right,
      #00d1ff 10%,
      rgba(0, 209, 255, 0) 42%
    );
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);

    &:before {
      width: 50%;
      height: 50%;
      background: #00d1ff;
      border-radius: 100% 0 0 0;
      position: absolute;
      top: 0;
      left: 0;
      content: '';
    }

    &:after {
      background: #fcfcfc;
      width: 75%;
      height: 75%;
      border-radius: 50%;
      content: '';
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }

  @-webkit-keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}

.thankYouPage {
  background-color: var(--main-bg);
}

.hidden {
  visibility: hidden;
}

// dark mode

.theme-switch {
  display: inline-block;
  height: 24px;
  position: relative;
  width: 40px;

  &__wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -80px;

    em {
      margin-left: 10px;
      font-size: 14px;
      color: var(--label);
    }
  }

  &input {
    display: none;
  }
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: -5px;
  position: absolute;
  right: 5px;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: '';
  height: 16px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 16px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(16px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
